:root {
  --primary-color: #175fff;
  --secondary-color: #a8bc17;
}

/* Wordpress Compatibility */
.appearance_page_soul-anchor-theme-info-page #wpcontent,
.appearance_page_soul-anchor-theme-info-page #wpfooter {
  padding: 0px;
}

.soul-anchor-theme-info-page {
  font-size: 16px;
  line-height: 1.2;
  /* Components */
}
.soul-anchor-theme-info-page h1,
.soul-anchor-theme-info-page h2,
.soul-anchor-theme-info-page h3,
.soul-anchor-theme-info-page h4,
.soul-anchor-theme-info-page h5,
.soul-anchor-theme-info-page h6 {
  font-weight: 600;
  line-height: 1;
}
.soul-anchor-theme-info-page p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}
.soul-anchor-theme-info-page a {
  text-decoration: none;
}
.soul-anchor-theme-info-page__header {
  background: linear-gradient(to right, #d4335d, #ff5627);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding: 24px 40px;
  gap: 24px;
}
.soul-anchor-theme-info-page__header--title {
  color: #fff;
  font-size: 24px;
  line-height: 1.6 !important;
  margin: 0 0 12px;
  /* Smaller Screen */
}
@media (min-width: 1024px) {
  .soul-anchor-theme-info-page__header--title {
    line-height: 1 !important;
  }
}
.soul-anchor-theme-info-page__header--subtitle {
  color: #ffffff;
  font-size: 16px;
}
.soul-anchor-theme-info-page__header--subtitle .theme-current-version {
  background: -webkit-linear-gradient(left, #00a8d5, #00ddd8) !important;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 100px;
}
.soul-anchor-theme-info-page__header--ctawrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.soul-anchor-theme-info-page__header--ctawrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4px;
  padding: 4px 12px;
}
.soul-anchor-theme-info-page__header--ctawrap a i {
  font-size: 18px;
}
.soul-anchor-theme-info-page__header--ctawrap a:last-child {
  background-color: #ff4900;
}
.soul-anchor-theme-info-page__features {
  padding: 24px;
  /* Smaller Screen */
}
@media (min-width: 1024px) {
  .soul-anchor-theme-info-page__features {
    padding: 40px;
  }
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap {
  max-width: 1350px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 40px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 auto;
  /* Smaller Screen */
}
@media (min-width: 1024px) {
  .soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  /* Smaller Screen */
}
@media (min-width: 1024px) {
  .soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content {
    grid-column: span 2;
  }
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec {
  background-color: #ffffff;
  padding: 36px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec span {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec h2 span {
  background-color: #f5ffb0;
  color: #586400;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec-cta {
  background: #f7f7f7;
  padding: 36px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec-cta__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  /* Smaller Screen */
}
@media (min-width: 1024px) {
  .soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec-cta__buttons {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec-cta__buttons a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .welcome-sec-cta__buttons a:last-child svg {
  fill: var(--primary-color);
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec {
  background-color: #fff;
  margin: 36px 0 0;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner {
  padding: 36px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner h2 {
  font-size: 24px;
  margin: 0 0 24px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  /* Smaller Screen */
}
@media (min-width: 1024px) {
  .soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card {
  position: relative;
  border-radius: 4px;
  padding: 16px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card h4 {
  color: #d4335d;
  font-size: 16px;
  line-height: 1.3;
  margin: 0 0 12px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card span {
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card i {
  position: absolute;
  color: #000;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: 12px;
  right: 12px;
  /* Smaller Screen */
}
@media (min-width: 768px) {
  .soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card i {
    top: 16px;
    right: 16px;
  }
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card i:hover {
  color: var(--primary-color);
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card:hover {
  -webkit-box-shadow: 0px 0px 1px 1px #b32d2e;
          box-shadow: 0px 0px 1px 1px #b32d2e;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card:hover span {
  color: #000 ;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .getstarted-sec__inner .theme-guidelist .theme-editor-card:hover i {
  visibility: visible;
  opacity: 1;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec {
  background-color: #ffffff;
  margin: 36px 0 0;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner {
  padding: 36px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  /* Smaller Screen */
}
@media (min-width: 1024px) {
  .soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner--header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner--header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
}

.theme-guidelist a:nth-child(even) {
  background: rgba(255,64,129,.08);
}

.theme-guidelist a:nth-child(odd) {
  background: rgba(255,86,38,.08);
}

.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner--header a i {
  font-size: 16px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner h2 {
  font-size: 24px;
  margin: 0;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner .theme-guidelist {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
  /* Smaller Screen */
}
@media (min-width: 1024px) {
  .soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner .theme-guidelist {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner .theme-guidelist .theme-editor-card {
  position: relative;
  color: #242424;
  border-radius: 4px;
  padding: 16px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner .theme-guidelist .theme-editor-card h4 {
  font-size: 16px;
  line-height: 1.3;
  margin: 0 0 12px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner .theme-guidelist .theme-editor-card p {
  font-size: 14px;
  text-transform: capitalize;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner .theme-guidelist .theme-editor-card span {
  position: absolute;
  background-color: #d7d7d7;
  opacity: 0.5;
  top: 12px;
  right: 12px;
  color: #242424;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 4px 8px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner .theme-guidelist .theme-editor-card:hover {
  -webkit-box-shadow: 0px 0px 1px 1px #b32d2e;
          box-shadow: 0px 0px 1px 1px #b32d2e;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-content .pro-features-sec__inner .theme-guidelist .theme-editor-card:hover span {
  background: -webkit-linear-gradient(left, #00a8d5, #00ddd8) !important;
  color: #fff;
  opacity: 1;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar__card {
  background-color: white;
  padding: 32px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar__card--title {
  margin: 0 0 12px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar__card--rating svg {
  fill: #ffa000;
  margin-bottom: 8px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar__card--descri {
  font-size: 14px;
  margin: 0 0 12px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar__card--btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar__card--btn svg {
  fill: var(--primary-color);
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar .soul-anchor-pro-card {
  background: linear-gradient(to right, #d4335d, #ff5627);
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar .soul-anchor-pro-card h2 {
  color: #fff;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar .soul-anchor-pro-card p {
  color: #fff;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar .soul-anchor-pro-card a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.soul-anchor-theme-info-page__features .soul-anchor-themeinfo-wrap .soul-anchor-themeinfo-sidebar .soul-anchor-pro-card a svg {
  fill: #fff;
}
.soul-anchor-theme-info-page .soul-anchor-button {
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  padding: 12px 24px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.soul-anchor-theme-info-page .soul-anchor-primary-button {
  background: -webkit-linear-gradient(left, #00a8d5, #00ddd8) !important;
  color: #ffffff;
}
.soul-anchor-theme-info-page .soul-anchor-primary-button-dark {
  background: -webkit-linear-gradient(left, #f6d265, #fda184) !important;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.soul-anchor-theme-info-page .soul-anchor-primary-button-darker {
  background: #eaeaea !important;
  color: #000000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.soul-anchor-theme-info-page .soul-anchor-secondary-button {
  background:-webkit-linear-gradient(left, #00a8d5, #00ddd8) !important;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


/* NOTICE */

#soul-anchor-theme-notice {
  border: none;
  border-left: 4px solid #72aee6;
}

.wp-core-ui .notice.is-dismissible {
  padding-right: 0;
}

.notice.is-dismissible .soul-anchor-content-wrap {
  padding-right: 38px;
}

.soul-anchor-content-wrap {
  background-image: url('/china-easy-go/wp-content/themes/soul-anchor/inc/soul-anchor-theme-info-page/css/theme-details-images/notice-bg.png');
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.soul-anchor-notice-left {
  padding: 40px;
}

.soul-anchor-notice-left h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.soul-anchor-notice-left p {
  font-size: 17px;
  line-height: 30px;
  margin: 25px 0;
  padding: 0;
}

.notice-actions #install-activate-button {
  background: #175FFF;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 199px;
  padding: 2px 20px;
  transition: all 0.2s linear;
  text-decoration: none;
}

.notice-actions #btn-dismiss {
  background: white;
  color: #000;
  font-weight: 400;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 20px;
  margin-left: 10px;
  border: none;
}
.op-notice-dismiss-form{
  display: inline-block;
}
.notice-actions #btn-install-activate:hover {
  background: #003bbd;
}
.notice-actions {
  display: flex;
  align-items: center;
}
.soul-anchor-notice-right {
  padding: 32px 0 0;
}
form.soul-anchor-notice-dismiss-form {
  margin: 0 0 0 0;
}
.soul-anchor-notice-right img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px 0 #dfdfdf;
}

@media (max-width: 1024px) {
  .soul-anchor-content-wrap {
    flex-wrap: wrap;
  }

  .soul-anchor-notice-left {
    padding: 25px;
  }

  .soul-anchor-notice-right img {
    display: none;
  }
}